* {
    box-sizing: border-box;
  }
#root {
    width: 100%;
    height: 100%;
}

nav {
    background-color:rgb(2, 60, 3);;
    padding: 5px;
    height: 35px;
    font-size: 20px;
    border-bottom: 2px solid black;
}

a {
    color: black;
    text-decoration: none;
    margin-left: 15px;
}

h1 {
    margin: 0;
}

p {
    color: rgb(227, 220, 220);
}
#lobby {
    height: 100vh;
    width: auto;
    margin-right: 0;
    background-image: url("../../public/assets/images/chuck_norris.jpeg");

}
#rules {
    background-color: rgba(33, 39, 33, 0.4);
    padding: 20px;
    padding-top: 50px;
    width: 700px;
    height: 100%;
}
#rules h1 {
    font-size: 45px;
    color: rgb(222, 0, 0);
    width: 400px;
    text-align: center;
    border: dashed black 4px;
    margin-bottom: 20px;
}

#lobby-buttons {
    border: 3px solid black;
    background-color: rgba(33, 39, 33, 0.8);
    padding: 20px;
    width: 350px;
    position: absolute;
    top: 30%;
    right: 8%;
    margin: auto;
    text-align: center;
}

input {

    margin: auto;
    display: block;
    font-size: 16px;
    border-radius: 6px;
    width: 220px;
    height: 30px;
    position: relative;
    border: 2px solid black;
}

button {
    display: block;
    margin: auto;
    background-color: green;
    border-radius: 6px;
    border: 2px solid black;
    margin-bottom: 5px;
    font-size: 16px;
    width: 220px;
    height: 30px;
}

#waiting-page {
    height: 100vh;
    width: auto;
    padding: 40px;
    margin-right: 0;
    background-image: url("../../public/assets/images/chuck_norris.jpeg");
    font-size: 30px;
}
#room-code {
    color: rgb(253, 119, 2);
    font-size: 30px;
    background-color: rgba(33, 39, 33, 0.6);
    width: 300px;
}

#copy-room {
    position: absolute;
    top: 190px;
    left: auto;
    visibility: hidden;
    background-color: green;
}

#error-page {
    height: 100vh;
    width: auto;
    margin-right: 0;
    background-image: url("../../public/assets/images/chuck_norris.jpeg");
    padding: 30px;
}

#error-msg {
    margin: auto;
    font-size: 25px;
    background-color: rgba(183, 21, 23, 0.7);
}