
#buttons {
    background-color: rgb(32, 39, 32);
    border: 1px solid;
    border-color: rgb(48, 47, 47);
    margin: 50px;
    padding: 10px;
    width: 220px;
}

.button {
    height: 30px;
    width: 100%;
    background-color: rgb(29, 224, 15);
    margin:1px;
}

#chat_box {
    border-radius: 6px;
    padding: 3px;
    margin-bottom: 6px;
    margin-top: 3px;
    height: 400px;
    width: 100%;
    background-color: rgb(243, 231, 231);
    overflow-y: scroll;
}

#chat_form {
    width: 197px;
}

#chat_input {
    width: 100%;
    padding: 2px;
    border: 0
}

.red {
    display: inline;
    font-size: 16px;
    color: red;
    margin: 0px;
    width: 40px;
}

.red p {
    display: inline;
}

.blue {
    display: inline;
    font-size: 16px;
    color: blue;
    margin: 0px;
    width: 40px;
}

.blue p {
    display: inline;
}