
#buttons {
    background-color: rgb(32, 39, 32);
    border: 1px solid;
    border-color: rgb(48, 47, 47);
    margin: 50px;
    padding: 10px;
}

.button {
    height: 30px;
    width: 100%;
    background-color: rgb(29, 224, 15);
    margin:1px;
}

#chat_box {

    height: 84%;
    width: 100%;
    background-color: rgb(243, 231, 231);
    padding: 3px;
    overflow-y: scroll;
}

#chat_form {
    width: 100%;
}

#chat_input {
    width: 100%;
    padding: 2px;
    border: 0
}