.tile {
    width: 60px;
    height: 60px;
    margin: 0;
    border-style: dashed;
    border-width: 1px;
    border-color: rgb(29, 29, 29);
}

.tile .game_piece {
    position: absolute;
    background-repeat: "no-repeat";
    background-size: "59px"; 
    width: "59px";
    height: "59px";
}

.tile .game_piece:hover {
    cursor: grab;
}
.tile .game_piece:active {
    cursor: grabbing;
}

.red {
    font-size: 20px;
    color: rgb(250, 3, 3);
}

.blue {
    font-size: 20px;
    color: rgb(0, 149, 255);
}

.pieces-img {
    display: grid;
    place-content: center;
    width: 59px;
    height: 59px;

}

#red-0-1 {
    position: absolute;
}
